<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_NeplanService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_NeplanService1">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_NeplanService" closeTimeout="15:05:00"
                    openTimeout="15:20:00" receiveTimeout="15:20:00" sendTimeout="15:20:00"
                    maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_NeplanService1">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://neplan1.gers.co/Services/External/NeplanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_NeplanService"
                contract="NeplanService.NeplanService" name="WSHttpBinding_NeplanService" />
            <endpoint address="https://neplan1.gers.co/Services/External/NeplanService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NeplanService"
                contract="NeplanService.NeplanService" name="BasicHttpBinding_NeplanService" />
            <endpoint address="https://neplan1.gers.co/Services/External/NeplanService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_NeplanService1"
                contract="NeplanService.NeplanService" name="WSHttpBinding_NeplanService1" />
            <endpoint address="https://neplan1.gers.co/Services/External/NeplanService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NeplanService1"
                contract="NeplanService.NeplanService" name="BasicHttpBinding_NeplanService1" />
        </client>
    </system.serviceModel>
</configuration>
